.details-container {
  max-width: 80rem;
  color: white;
}

.pt-14rem {
  padding-top: 14rem;
}

.max-w-80rem {
  max-width: 80rem;
}

.breadcrumb-previous {
  color: #6a6a6a;
}

.left-separatable,
.description {
  color: #aeaeae;
}

.details-wrapper,
.separatable {
  background: #1b1b1b;
}

.separator-container {
  background: #2b2b2b;
}

.genre-pill {
  border-color: #2b2b2b;
}

.aspect-video {
  aspect-ratio: 16 / 9;
}

.min-h-26rem {
  min-height: auto;
}

@media (min-width: 992px) {
  .min-h-26rem {
    min-height: 26rem;
  }
}

.max-w-48rem {
  max-width: 48rem;
}
